<li>
    {{id}}. {{burger_name}}
    <button class="set-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}Devoured!
        {{else}}Devour it!
        {{/if}}
    </button>
</li>