<li>
    {{burger_name}}
    <button data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}!{{else}}Devour it!{{/if}}
    </button>

    <button data-id="{{this.id}}">DELETE!</button>
</li>